h3{
    font-size: 2.5em;
    background-color: red;



}

section#products h2{
    background-color: black;
    color: white;

}

h2{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;

}




.products{
    color: red;

}

.testimonials{
    color:aqua;

}

nav ul li{
    font-size: small;
    background-color: cadetblue;

}